/ip2location-lite/**/*.ZIP
/ip2location-lite/**/*.CSV
/ip2location-lite/**/*.BIN

/ip2location-sample/**/*.zip
/ip2location-sample/**/*.BIN

/ip2proxy-lite/**/*.ZIP
/ip2proxy-lite/**/*.CSV
/ip2proxy-lite/**/*.BIN

/ip2proxy-sample/**/*.zip
/ip2proxy-sample/**/*.BIN
